<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Schema: RettApp</name>
    <description>
        Schema ist ein Teil der OpenSource Rettungsdienstanwendung RettApp. In Schema sollen alle geläufigen Schemata für Rettungsdienstler schnell und kurz erklärt zur Verfügung stehen.
    </description>
    <author email="hello@rettapp.org" href="http://rettapp.org">
        RettApp Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <engine name="browser" spec="^4.1.0" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
